
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>EmployeeApp</title>

        <link href="~/css/Login.css" rel="stylesheet" />
    </head>
    <body>
        <div class="emp-header">
            <h2>Login</h2>
        </div>
        <div class="row">    
            <div class="col-4">
                <form class="row g-3">
                    <div class="col-md-12">
                        <label for="inputLogin" class="form-label">Login</label>
                        <input type="text" class="form-control" id="inputLogin">
                    </div>

                    <div class="col-md-12">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword">
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
