@model EmployeesApp.Web.Models.User;
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>EmployeeApp</title>

        <link href="~/css/Login.css" rel="stylesheet" />
    </head>
    <body>
        <div class="emp-header">
            <h2>Register</h2>
        </div>
        <div class="row">    
            <div class="col-4">
                <form asp-controller="Register" asp-action="Register" class="row g-3">
                    @if(@ViewBag.ErrorMessage != null)
                    {
                        <div class="col-md-12 alert alert-danger" role="alert">
                            @ViewBag.ErrorMessage
                        </div>
                    }

                    <div class="col-md-12">
                        <label for="inputLogin" class="form-label">Login</label>
                        <input required asp-for="UserName" type="text" class="form-control" id="inputLogin">
                    </div>

                    <div class="col-md-12">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input required asp-for="Password" type="password" class="form-control" id="inputPassword">
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
