<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EmployeeApp</title>

</head>
    <body>
        <div>
            <h2>You are not authorized! Please, log in first!</h2>
        </div>
    </body>
</html>

