<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EmployeeApp</title>

    <link href="~/css/Todo.css" rel="stylesheet" />
</head>
    <body>
        <div class="emp-header">
            <h2>ToDo List</h2>
        </div>
                
        <div class="wrapper">
            <form asp-action="TodoFilteredList" asp-controller="Todo" class="row">
                <div class="col-4">
                    <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="SearchString">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
                <div class="col-2">
                    <a asp-action="TodoList" method="post" class="btn btn-primary" type="button">Clear Filter</a>
                </div>
                <div class="col-4">
                    <a class="btn btn-primary create-btn" type="button" asp-action="Create" asp-controller="Todo">Create Todo</a>
                </div>
            </form>
        </div>

        <div class="table-wrapper">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Employee Name - Speciality</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Completed</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody id="todoTable">

                </tbody>
            </table>
        </div>
    </body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/todoList.js"></script>
</html>
