.emp-header {
    display: inline-block;
    width: 100%;
    color: #495057;
    margin: 30px auto;
}

.create-btn {
    float: right;
}

.wrapper,
.table-wrapper {
    width: 100%;
    display: inline-block;
}

table {
    margin: 40px auto;
    width: 100%;
}

.table-btn {
    padding: 0 3px;
}

.delete-form {
    display: inline-block;
}